.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: fit-content;
  height: 100%;
}

.card {
  flex-direction: column;
  display: flex;
  width: fit-content;
  height: 100%;
}

.picker {
  margin: 15px;
  flex-direction: row;
  display: flex;
}

.text {
  margin: 15px;
}
