.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: fit-content;
  height: 100%;
}

.card {
  flex-direction: column;
  display: flex;
  width: fit-content;
  height: 100%;
}

.picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
  padding: 25px;
  flex-direction: row;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.text {
  display: flex;
  padding: 20px;
  height: fit-content;
  font-size: 30px;
  margin: 25px;
}
