.dash {
  display: 'flex';
  flex: 1;
  background-color: #e8f1f7;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 310px;
  margin-right: 16px;
  border-radius: 5px;
}

.friendsCard {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #209eef;
  height: 310px;
  margin-right: 16px;
  border-radius: 5px;
}

.friend {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #c0e1f7;
  cursor: pointer;
  height: 50px;
  width: 250px;
  margin: 5px;
  padding: 7px;
  border-radius: 25px;
  box-shadow: -1px 2px 4px -2px rgba(0, 0, 0, 0.81);
}

.rateSongItem {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #c0e1f7;
  margin: 5px;
  padding: 5px;
  max-height: 40px;
  max-width: 360px;
  border-radius: 25px;
  box-shadow: -1px 2px 4px -2px rgba(0, 0, 0, 0.81);
}

.cardContent {
  display: flex;
  flex: 1;
  max-height: 240px;
  overflow-y: scroll;
}
